@use '../styles/_colors' as _colors;
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');


.cardDetailsForm {
    // width: 100%;
    // font-family: 'Space-Grotesk', sans-serif;
}

.cardDisplayContainer {
    // width: 100%;
    // height: 284px;
}

.mobile-bg-image {
    width: 100%;
    // filter: drop-shadow(-20px 80px 20px rgb(226, 226, 226));
    // opacity: 9%;

}

.desktop-bg-image {
    width: 50%;
    // min-height: 100vh;
    // height: 100vh;
}

.backwardCardContainer {
    position: absolute;
    width: 100%;
    height: 200px;
    top: 20px;
    text-align: end;
    // right: 20px;
    // background-color: red;
}

.bg-card-back {
    position: relative;
    width: 285px;
    margin-right: 16px;
    top: 13px;
    // left: 20%
    // top: 33px;

    // top: 20px;
    // bottom: 500%;
    // transform: translate(10%, -135%)
}

.cvcContent {
    position: absolute;
    top: 72px;
    right: 53px;
    // left: 80%;
    // bottom: 173%;
    color: white;
    font-size: .6rem;
    letter-spacing: 1px;
}

.frontCardContainer {
    position: absolute;
    // height: 20px;
    width: 285px;
    // background-color: red;
    text-align: start;
    top: 128px;
    left: 16px;

}

.bg-card-front {
    position: relative;
    width: 285px;
    // left: 16px;

    // transform: translate(-10%, -76%);
    // filter: drop-shadow(0px 80px 30px rgb(226, 226, 226));

    // box-shadow: 3px 80px 30px lightgrey;
}

.bg-card-front-shadow {
    position: absolute;
    width: 235px;
    left: 21px;
    // opacity: 0;
    // display: none;

    filter: drop-shadow(0px 80px 30px rgb(226, 226, 226));


    // transform: translate(-10%, -76%);
    // filter: drop-shadow(0px 80px 30px green);
}

.front-card-logo {
    position: absolute;
    top: 8px;
    left: 5px;
    height: 50px;
    transform: scale(.64);
    // width: 50px;
}

.cardNumberContainer {
    position: absolute;
    width: fit-content;
    height: fit-content;
    display: flex;
    top: 83px;
    left: 20px;
}

.cardNumberDigits {
    margin: 0px;
    color: white;
    letter-spacing: 1.5px;
    padding-right: 6.5px;
    font-size: 19px;
}

.cardHolderName {
    position: absolute;
    top: 123px;
    left: 20px;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
}

.cardExpDateContainer {
    position: absolute;
    display: flex;
    width: fit-content;
    top: 123px;
    right: 20px;
}

.cardExpDate {
    margin: 0;
    color: white;
    font-size: 10px;
    letter-spacing: 1px;
}


.cardFormContainer {
    // opacity: 1;
    opacity: .99999; // This causes the z-index of the cardFormContainer to rise above the stacking context of the shadow created by the card's filter function
    width: 100%;
}


.cardFormFieldset {
    border: none;
    min-width: 0; // Overwriting Chrome's default min-width for fieldsets
    // margin-top: 6px;
}

// Found this code on stackoverflow on how to include an accessible legend for screenreaders while otherwise hiding it visually
legend span {
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.cardFieldContainer {
    display: flex;
    flex-direction: column;
    padding-top: 18px;
    padding-left: 8px;
    padding-right: 10px;
    padding-bottom: 4px;
    // padding-top: 16px;
    
}

.cardFieldContainer label {
    text-align: start;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    padding-bottom: 8px;
}

.cardFieldContainer input{
    padding: 12px;
    padding-top: 13px;
    padding-bottom: 9px;
    padding-left: 14px;
    font-size: 17px;
    border-radius: 8px;
    border: solid 1px _colors.$LightGrayishViolet;
    letter-spacing: 1px;
}

.cardFieldContainer input::placeholder {
    color: _colors.$DarkGrayishViolet;
    opacity: .6;
    font-family: 'Space Grotesk', sans-serif;
}



input:invalid {
    border: solid 1px _colors.$Red;
    transition: all .20s ease-in;
}

input:placeholder-shown {
    border: solid 1px _colors.$LightGrayishViolet;
    // background-color: red;
}

input:placeholder-shown:focus {
    border: solid 1px _colors.$Red;
    transition: all .20s ease-in;
}

.blankFieldError {
    // display: none;
    visibility: hidden;
    position: absolute;
    // overflow: auto;
    opacity: 0;
    color: _colors.$Red;
    font-size: 12px;
    text-align: start;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 120px;
}


// Currently, the transition applied to display doesn't work. I don't quite know how to get .blankFieldError to toggle visibility AND take no space in the document flow when not visibile
// Update - I figured it out. That said, .blankFieldError will still appear in the document model for Accessibility, and should, according to true accessibility, not do that. Could be a pain for screen readers. The only thing I can think of is establishing a multi-state transition, eg. the form throws invalid, state transitions from display:none to display: block w/ opacity: 0, and then transitions again to .blankFieldErrorTransitioned to show opacity: 1 over a transition duration - three state transition.
input:placeholder-shown:focus ~ p {
    // display: block;
    position: inherit;
    visibility: visible;
    // overflow: visible;
    opacity: 1;    
    transition: opacity .20s ease-in;
}

input:required {
    // border: 1px solid _colors.$LightGrayishViolet;
}

.lengthFieldError {
    position: inherit;
    color: _colors.$Red;
    font-size: 12px;
    text-align: start;
    margin-top: 8xp;
    margin-bottom: 8px;
    width: 120px;
}



.cardExpCVCContainer {
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    height: fit-content;
    width: auto;
}

#cardFieldExpMM {
    width: 73px;
    // overflow: clip;
    padding-right: 0px;
}

#cardFieldExpYY {
    width: 70px;
}

.cardExpCVCContainer .cardFieldContainer {
    margin-top: 0px;
}

#cardFieldCVC {
    width: 49%;
    padding-left: 0px;
    padding-right: 0px;
    // margin-right: 10px
}

*:focus {
    outline: none;
}

.cardFormButton {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 5px;

    width: stretch;
    height: 53px;

    color: white;
    background-color: _colors.$VeryDarkViolet;
    border: none;
    border-radius: 8px;

    font-family: 'Space Grotesk', sans-serif;
    font-size: 1rem;
}

.cardFormButton::first-letter{
    font-size: 1.1rem;
}

.thankYouContainer {
    // border: solid 1px red;
    padding-top: 47px;
}

.thankYouLogo {
    opacity: .99;
}

.thankYouHeader {
    text-transform: uppercase;
    padding-top: 10px;
    letter-spacing: 4px;
    font-weight: 400;
    margin-bottom: 10px;
}

.thankYouContent {
    color: _colors.$DarkGrayishViolet;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 43px;

}

#thankYouButton {
    margin-left: 23px;
    margin-right: 23px;
}








@media screen and (min-width: 425px) {
    .cardDetailsForm{
        text-align: start;
        display: flex;
        // flex-direction: row;
    }

    .cardDisplayContainer {
        width: 50%;
        height: 250px;
    }

    .desktop-bg-image {
        height: 100vh;
        width: 67%;
    }

    .backwardCardContainer {
        // left: 258px;
        left: 18%;
        top: 455px;
        text-align: start;
        width: auto;
    }

    .bg-card-back-shadow {
        position: absolute;
        width: 235px;
        top: 20px;
        left: 200px;
        filter: drop-shadow(40px 140px 35px rgb(226, 226, 226));
    }

    .bg-card-back {
        width: 450px;
    }

    .cvcContent {
        // color: green;
        top: 110px;
        // right: 100px;
        left: 358px;
        font-size: .8rem;
    }

    .frontCardContainer {
        // left: 165px;
        left: 11.5%;
        top: 185px;
        width: 450px;
    }

    .bg-card-front-shadow {
        // width: 100px;
        position: absolute;
        top: 20px;
        left: 200px;
        filter: drop-shadow(80px 110px 25px rgb(226, 226, 226));
    }

    .bg-card-front {
        width: 450px;
    }

    .front-card-logo {
        position: absolute;
        top: 30px;
        left: 30px;
        // height: 70px;
        transform: scale(1);
        // width: 50px;
    }
    
    .cardNumberContainer {
        // position: absolute;
        width: 400px;
        // height: fit-content;
        // display: flex;
        top: 140px;
        left: 32px;

        // font-size: 1.5rem;
    }
    
    .cardNumberDigits {
        margin: 0px;
        color: white;
        letter-spacing: 3.5px;
        padding-right: 6.5px;
        font-size: 28px;
    }
    
    .cardHolderName {
        // display: none;

        position: absolute;
        top: 203px;
        left: 30px;
        color: white;
        text-transform: uppercase;
        font-size: .75rem;
        letter-spacing: 2.5px;
    }
    
    .cardExpDateContainer {
        // display: none;

        // color: green;

        position: absolute;
        display: flex;
        width: fit-content;
        top: 203px;
        right: 35px;
    }
    
    .cardExpDate {
        // display: none;

        margin: 0;
        color: white;
        font-size: .8rem;
        letter-spacing: 2px;
    }


    .cardFormContainer {
        width: 50%;
    }

    .cardFormFieldset {
        width: 55.5%;
        padding-top: 31.5%;
        // padding-left: 100px;
        padding-left: 14%;
    }

    .cardFieldContainer {
        padding-top: 24px;
    }

    #cardFieldExpMM, #cardFieldExpYY {
        width: 80px;
    }

    #cardFieldExpYY label {
        // text-align: center;
    }

    .cardExpCVCContainer {
        width: 100%;
    }



    #cardFieldCVC {
        margin-left: 10px;
    }


    .cardFormButton {
        margin-top: 17px;
    }


    .thankYouContainer {
        padding-top: 21%;
        padding-left: 6%;
        text-align: center;
    }

    #thankYouButton {
        padding-left: 150px;
        padding-right: 150px;
        margin-top: 8px;
    }


}